services:
  db:
    image: postgres:16 
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5433"
    volumes:
      - db-data:/var/lib/postgresql/data

# # Uncomment if you need volumes for data persistence
# volumes:
#   db-data:
